{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Random Episode Generator</title>
		<link rel="stylesheet" href="{% static 'css/generator.html' %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap"> 
	</head>
	<body>
		<h1>random episode generator: the office</h1>
		<div id="epDisplay"> <!-- display ep num -->
			
			<h2 class="epdesc">S{{ episodes.season }}E{{ episodes.epnum }}: {{ episodes }}</h2>
			<p>{{ episodes.epdesc }}</p>
			<a class="btn btn-1" href="{% url 'generator' %}">generate new episode</a>
		</div>
	</body>
	<footer>
		<script src="{% static 'js/app.js' %}"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	</footer>
</html>
